.home-content {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 35px;
  margin-bottom: 7px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 10px 10px;
  font-size: 18px;
}
